h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

main{
    margin: 0 auto;
    width: 400px;
}

main img{
    width: 100%;
    height: auto;
    background-color: rgb(136, 136, 66);
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
footer{
    text-align: center;
}