@import url('https://fonts.googleapis.com/css2?family=Arima&family=Noto+Sans+Georgian:wght@300&display=swap');

body{
    text-align: center;
    max-width: 100%;
}

header{
    background-color: #252422;
    color: white;
}

h2{
    background-color: #a3b18a;
}

h3{
    background-color: #dad7cd;
}

.arima{
    font-family: Arima, sans-serif;
}

.noto-san{
    font-family: "Noto Sans Georgian";
}

table{
    display: table;
    text-align: center;
    border-spacing: 2px;
    margin: 0 auto;
    padding: 30px
}

.primary{
    background-color: #00B4D8;
}

.secondary{
    background-color: #5CE1E6;
}

.accent1{
    background-color: #CAF0F8;
}
