@import url('https://fonts.googleapis.com/css2?family=Arima&family=Noto+Sans+Georgian:wght@300&display=swap');
body{
    font-family: "Noto Sans Georgian";
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-family: "Arima";
    text-align: center;
}

nav{
    background-color: #5CE1E6;  
}

/* Collapsing navigation on moblie screen */
.nav-menu{
    border: none;
    font-size: 2rem;
    padding: 3px 7px 6px;
    background-color: #5CE1E6;
    cursor: pointer;
}

.nav-menu::before{
    content: "≡";
}

.navigation{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    padding: 0.75rem;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
	text-decoration: none;
}
.navigation a:hover, navigation a:active{
    color: #0077B6;
    background-color: #CAF0F8;
}

.open li{
    display: block;
    width: 100%;
}
.open li a{
    display: block;
}
.nav-menu.open::before{
    content: "X";
}
main{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr auto auto;
    grid-gap: .75rem;
}

header,.newsletter-box, .weather-card{
    background-color: #CAF0F8
}

.weather-card, .newsletter-box, footer{
    border: 1px;
    padding: 1rem;
    margin: 1rem;
}

.newsletter-box{
    grid-row: 1/2;
}
.weather-card{
    grid-row: 2/3;
}
.current-events{
    grid-row: 3/4;
}
.adverts{
    grid-row: 4/5;
}

footer{
    text-align: center;
    color: #00B4D8;
    background-color: black;
    padding: .5rem;
}
.socials{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100px;
}
