@media screen and (min-width: 512px){
    main{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .newsletter-box{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }
    .weather-card{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .current-events{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .adverts{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
}